<div class="flex flex-wrap">

  <div class="w-full md:w-2/3 pr-0 md:pr6 mb-6">
    <div class="bg-white shadow round-sm">
      <%= yield :primary_content %>
    </div>
  </div>

  <div class="w-full md:w-1/3">
    <div class="bg-white shadow px-8 pt-6 pb-8 round-sm">
      <%= yield :secondary_content %>
    </div>
  </div>

</div>

